<html>
  <head>
    <meta charset="utf-8">
      <title> Pink is the new black</title>
        <link href="https://fonts.googleapis.com/css?family=Manuale:400,700|Playfair+Display:400,700|Raleway:200,300,400,500i|Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <div id="banner">
      <h1>PINK IS THE NEW BLACK</h1>
      <p id="subtitle">COLOR DIARY</p>  
      <p><a href="http://twenty-one-w.com" target="_blank" class="btn btn-primary">Join us</a></p>
    </div>


<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card">
      <img src="images/flammingo.png" alt="picture description" width="100">
      <p>Let your <strong>creativity</strong> shine</p>
    </div>
    <h2 class=line>BOLD</h2>
  </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
        <img src="images/glasses.png" alt="picture description" width="100">
          <p>Be true to your own <strong>colors</strong></p>
        </div>
    <h2 class=line>SIMPLE</h2>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card">
        <img src="images/eye.png" alt="picture description" width="100">
        <p>We are all <strong>MAD</strong> here</p>
        </div>
      <h2 class=line>MAD</h2>
    </div>
 
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card">
        <img src="images/rabbit.png" alt="picture description" width="100">
        <p>Amaze <strong>us</strong> with your skills</p>
    </div>
    <h2 class=line>AMAZING</h2>
  </div>

    </div>
  </div>

  <div id=cutline class=text-center>
      <H2>Maybe you need some pinkspiration !</h2>
      <p>Try it out</p>
    <form action="/search" method="get" class="form-inline">
      <input name="query" placeholder="Search dribbles..." class="form-control" type="text">
      <input value="Search" class="btn-primary btn" type="submit">
    </form>
  </div>

<div class="container">
    <div class="row" id="formbanner">

    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
      <div id="wufoo-z1g5ecnz1fxw8zr">
    Fill out my <a href="https://anaisarmandy.wufoo.com/forms/z1g5ecnz1fxw8zr">online form</a>.
    </div>
<script type="text/javascript">var z1g5ecnz1fxw8zr;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'anaisarmandy',
'formHash':'z1g5ecnz1fxw8zr',
'autoResize':true,
'height':'517',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1g5ecnz1fxw8zr = new WufooForm();z1g5ecnz1fxw8zr.initialize(options);z1g5ecnz1fxw8zr.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
    
</div>
    <div class="col-xs-12 1col-sm-6 col-md-6">
      <img id="pinkpage" src="images/pinkpage.jpg" class="img-responsive" alt="Responsive image" alt="picture description">
    </div>

  </div>
</div>



      <div class=container id="footer">
        <div class= row>
          <div id="catchphrase" class="col-xs-6 col-sm-6 col-md-6">
            <p>LIVE YOUR LIFE IN PINK</p> 
          </div>  
          <div id=icons clas="col-xs-6 col-sm-6 col-md-6">
            <ul class="list-inline">
             <li><a href="#"><i class="fa fa-youtube"></i></a></li>
             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#"><i class="fa fa-anchor"></i></a></li>
          </ul>
          </div>
        </div>
      </div>
      
  </body>

  </html>